# File konfigurasi yang berisi informasi sensitif
application/config/database.php

# File cache
application/cache/*
!application/cache/index.html
!application/cache/.htaccess

# File logs
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# File session
system/session/*

# File yang diupload user
assets/uploads/*
!assets/uploads/index.html

# File composer
vendor/
composer.lock

# File IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File sistem operasi
.DS_Store
Thumbs.db
